@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Here is some information about us.";
}

<div class="jumbotron">
    <h1>Our team.</h1>
    <p>Our project is divided into 4 modules, as follows:</p>
    <hr />
    <div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="collapse-heading-one">
                <h4 class="panel-title">
                    <a class = "collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-one" aria-expanded="false" aria-controls="collapse-one">
                        Module I - Implementation
                    </a>
                </h4>
            </div>
            <div id="collapse-one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapse-heading-one">
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><b>Robert Onesim</b></li>
                        <li class="list-group-item">Liana Țucăr</li>
                        <li class="list-group-item">Marta Filimon</li>
                        <li class="list-group-item">Rareș Stan</li>
                        <li class="list-group-item">Mihai Nechita</li>
                        <li class="list-group-item">Vlad Lupoaie</li>
                        <li class="list-group-item">Dan Mărculeț</li>
                        <li class="list-group-item">Alberto Cieri</li>
                        <li class="list-group-item">Ivona Chili</li>
                        <li class="list-group-item">Ștefan Grigoriu</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="collapse-heading-two">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                        Module II - Knowledge Sources
                    </a>
                </h4>
            </div>
            <div id="collapse-two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-two">
                <div class="panel-body">
                    
                    <ul class="list-group">
                        <li class="list-group-item"><b>Cătălina Băincescu</b></li>
                        <li class="list-group-item">Alexandra Bîrsan</li>
                        <li class="list-group-item">Diana Gușă</li>
                        <li class="list-group-item">Mădălina Iacob</li>
                        <li class="list-group-item">Iulian Aștefănesei</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="collapse-heading-three">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-three" aria-expanded="false" aria-controls="collapse-three">
                        Module III - Text Processing
                    </a>
                </h4>
            </div>
            <div id="collapse-three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-three">
                <div class="panel-body">
                    
                    <ul class="list-group">
                        <li class="list-group-item"><b>Ovidiu Pricop</b></li>
                        <li class="list-group-item">Adrian Butnaru</li>
                        <li class="list-group-item">Alexandru Ciubotariu</li>
                        <li class="list-group-item">Tiberiu Ciuc</li>
                        <li class="list-group-item">Alexandru Rusu</li>
                        <li class="list-group-item">Sebastian Buruiană</li>
                        <li class="list-group-item">Lucian Alexandru</li>
                        <li class="list-group-item">Cristian Dorneanu</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="collapse-heading-four">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-four" aria-expanded="false" aria-controls="collapse-four">
                        Module IV - Testing, Documentation, Other Resources
                    </a>
                </h4>
            </div>
            <div id="collapse-four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-four">
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><b>Teo Chirileanu</b></li>
                        <li class="list-group-item">Mădălin Andone</li>
                        <li class="list-group-item">Alina Brînză</li>
                        <li class="list-group-item">Bogdan Lică</li>
                        <li class="list-group-item">Andrei Munteanu</li>
                        <li class="list-group-item">Andrei Scripcariu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h1>Hi there, and welcome to our Site!</h1>
    <h2>First of all, let's see what's this all about.</h2>
    <hr />
    <h3><b>Allow us to introduce ourselves</b></h3>
    <p>
        We are a group of senior students from the Faculty of Computer Science (Iași, Romania)
        who are currently working at an Artificial Intelligence project, ChatBot.
    </p>
    <h3><b>What is our objective?</b></h3>
    <p>
        The project aims to realize an intelligent agent capable to engage meaningful conversations with a
        human user, actively listening and understanding the user, answering questions, discovering the user’s
        personality and suggesting appealing conversation topics. It will emulate a genuine well informed and
        intelligent partner, featuring surprisingly informed answers or bright and funny changes of
        conversation, as well as candid recognition of lack of knowledge.
    </p>
</div>
