@{
    ViewData["Title"] = "Contact";
}

<div class="jumbotron">
    <h1>Some contact info.</h1>
    <hr />
    <address>
        <p>Faculty of Computer Science, „Alexandru Ioan Cuza” University</p>
        <p>16 General Berthelot Street</p>
        <p>700483 Iași, Romania</p>        
    </address>
    <hr />
    <h2>Contact our members!</h2>
    <p>Robert Onesim - <a href="mailto:robert.onesim@info.uaic.ro">robert.onesim@info.uaic.ro</a></p>
    <p>Cătălina Băincescu - <a href="mailto:stefania.baincescu@info.uaic.ro">stefania.baincescu@info.uaic.ro</a></p>
    <p>Ovidiu Pricop - <a href="mailto:ovidiu.pricop@info.uaic.ro">ovidiu.pricop@info.uaic.ro</a></p>
    <p>Teo Chirileanu - <a href="mailto:teodorchirileanu@gmail.com">teodor.chirileanu@info.uaic.ro</a></p>
</div>