@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Dialog</h1>
    <hr />
        <label class="control-label" for="form-group-input">Enter your question here.</label>
        <input type="text" class="form-control" id="question" placeholder="Question">
        <input type="submit" class="form-control" id="submit" value="Ask" onclick="append()"/>
        <hr />
        <textarea class="form-control" rows="10" id="dialog"></textarea>
</div>

<script language="javascript">
    function append() {
        var s = $('#question').val() + '\n' + "answer\n";
        responsiveVoice.speak("answer");
        $('#dialog').append(s);
}
</script>