@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Resources</h1>
    <p>Here is the project diagram:</p>
    <img src="http://imgh.us/chatbot.svg" alt="Not found" width="100%" />
    <hr />
    <h2>Aditional Resources</h2>
    <div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="collapse-heading-one">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                        <b>Module 2</b>
                    </a>
                </h4>
            </div>
            <div id="collapse-one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapse-heading-one">
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"> <a href ="https://www.mediawiki.org/wiki/API:Main_page" target="_blank">MediaWiki API</a></li>
                        <li class="list-group-item"><a href="https://www.omdbapi.com/" target="_blank">OMDb API</a></li>
                        <li class="list-group-item"><a href="https://developer.oxforddictionaries.com/" target="_blank">Oxford Dictionary API</a></li>
                        <li class="list-group-item"><a href="http://products.wolframalpha.com/api/" target="_blank">Wolfram|Alpha API</a></li>
                        <li class="list-group-item"><a href="https://www.librarything.com/services/rest/documentation/1.1/" target="_blank">Library Thing Web Services API</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="collapse-heading-two">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                        <b>Module 3</b>
                    </a>
                </h4>
            </div>
            <div id="collapse-two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-two">
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"> <a href="https://cloud.google.com/natural-language/" target="_blank">Google Cloud Natural Language API</a></li>
                        <li class="list-group-item"> <a href="http://www.alchemyapi.com/products/alchemylanguage" target="_blank">Alchemy Language API</a></li>
                    </ul>
                </div>
            </div>
        </div>
            </div>
</div>
