@{
    ViewData["Title"] = "Text to Speech";
}

<div class="jumbotron">
    <h1>Sample text to speech (T2S)</h1>
    <hr />
    <p>A Christmas tree festival has again broken its own record for the number of trees in a church.</p>
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick='responsiveVoice.speak("A Christmas tree festival has again broken its own record for the number of trees in a church.")'>Press here for T2S</button>
</div>