@{
    ViewData["Title"] = "Text to Speech";
}

<div class="jumbotron">
    <h1>Sample text to speech (T2S)</h1>
    <hr />
    <P>
        <B>What type of voice would you like the text to be spoken?</B>
    <P>
        <INPUT TYPE="radio" id="r1" NAME="answer" value="1">Male<BR>
        <INPUT TYPE="radio" id="r2" NAME="answer" value="2">Female<BR>
    <P>
        <B>Introduce text here:</B><br />
        <textarea id="TextArea1" name="TextArea1" rows="2" cols="160"></textarea>
        <script>
            function myFunction() {
                if (document.getElementById('r1').checked)
                    responsiveVoice.speak(document.getElementById("TextArea1").value, "UK English Male");
                else
                    responsiveVoice.speak(document.getElementById("TextArea1").value);
            }
        </script>

        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="myFunction()">Press here for T2S</button>
</div>